<div >
    <div>
        <div >
            <table>
                <tr>
                    <td style="width: 278px">
                        <story-item-img >
                        </story-item-img>
                    </td>
                    <td >
                        <div  class="item-body">
                           {{item.body}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="story-block-buttons">
            <button class="btn btn-danger" id="{{item.ui.toggleHelpRequestId}}">
                <i class="fa fa-bullhorn"></i>Help!
            </button>
            <button class="btn btn-warning" >
                <i class="fa fa-bullhorn"></i>Share
            </button>
            <button class="btn btn-success" >
                <i class="fa fa-bullhorn"></i>Publish
            </button>
        </div>
        <div class="sb-title-animation title">
            {{item.title}}
        </div>

        <help-request toogle-help-request="{{item.ui.toggleHelpRequestId}}">

        </help-request>

        <hr>

        <div class="plot">
            {{item.plot}}
        </div>
        <hr>
        <div class="social">
            <a id="{{item.ui.toggleCommentsId}}">{{item.comments.length}} comments  <span ><i style="vertical-align: top; font-size: 18px; margin-top: -2px; margin-left: 5px" class="fa fa-sort-asc"></i></span></a>
            <div  style="vertical-align: top;  float:right;">
                <span >
                    <a id="{{item.ui.toggleLikesId}}" ng-if="item.likes.length>0" style="font-size: 13px;">
                        {{item.likes.length}}
                    </a>

                     <a href="#" ng-if="item.likes.length==0" style="font-size: 14px;" class="no-likes">
                         <i style="margin-left: 5px;" class="fa fa-heart"></i>
                     </a>
                     <a href="#" ng-if="item.likes.length>0" style="font-size: 14px;">
                         <i style="margin-left: 5px; color:red;" class="fa fa-heart"></i>
                     </a>
                </span>
            </div>
        </div>
        <comments toogle-comments="{{item.ui.toggleCommentsId}}">

        </comments>

        <likes toogle-likes="{{item.ui.toggleLikesId}}">

        </likes>
    </div>

</div>
